//variables
$colorPrimary: #AD0000;
$colorPrimaryDark: #890000;
$colorGrey: #7F7F7F;
$colorGreyMedium: #999999;
$colorGreyMediumLight: #D3D3D3;
$colorGreyLight: #F5F5F5;
$colorBlack: #000;
$colorWhite: #fff;
$colorText: #333333;
$colorBorder: #D3D3D3;